nav, footer, nav a, footer a {
    background-color: #133854;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav {
    text-align: left;
    font-size: 22px;
    padding: 10px;
}

h3 {
    font-size: 34px;
    color: #133854;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

#cats {
    float: right;
    height:400px;
    margin-right: 100px;
    border-radius: 10px;
}

table {
    border: 1px;
    border-collapse: collapse;
    padding: 5px;
}



table td {
    border: 1px;
    text-align: left;
    padding: 10px;
    color:#133854;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexContainerDay {
    display: flex;
  }
  
  .flexContainerDay > div {
    margin: 1px;
    padding: 1px;
  }

.flexContainerTime {
    display: flex;
  }
  
.flexContainerTime > div {
    margin: 1px;
    padding: 1px;
  }

.catdietExp {
    display: none;
}

.territorialCat {
    display: none;
}

.temperamentofCat {
    border: 2px solid rgb(98, 97, 97);
}

footer {
    text-align: right;
    font-size: 18pt;
    padding: 10px;
}

footer img {
    height: 40px;
    padding-right: 10px;
    float: left;
}


address {
    font-style: normal;
}

.sub {
    background-color: #133854;
    color: white;
    font-size: 30px;
    border:0ch;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.sub:hover {
    background-color: #5e809b;
    color: #042036;
  }

span {
    color: rgb(249, 108, 108);
}